# macOS and Xcode
.DS_Store
xcuserdata
Package.resolved
.swiftpm
.build/

# Ruby/Bundler
fastlane/.bundle/
fastlane/vendor/
fastlane/Gemfile.lock

# Fastlane signing secrets
fastlane/.env
fastlane/api_key.json
fastlane/*.p8
fastlane/report.xml

# mdBook
book/

# Fluidattacks scanner
fluidscan-results.sarif
